In [1]:
import pandas as pd
from sklearn.metrics import accuracy_score
from torch.utils.data import random_split
from torchvision.datasets import ImageFolder

from sneakers_ml.data.local import LocalStorage
from sneakers_ml.data.storage import StorageProcessor

In [2]:
brands_dataset = pd.read_csv("data/merged/metadata/brands_dataset.csv")

In [3]:
brands_dataset[brands_dataset["unique_images_count"] > 100]

    brand_merge  unique_images_count                                    images
0        adidas                  923       data/merged/images/by-brands/adidas
1         asics                  279        data/merged/images/by-brands/asics
3        clarks                  125       data/merged/images/by-brands/clarks
4      converse                  361     data/merged/images/by-brands/converse
10       jordan                  337       data/merged/images/by-brands/jordan
11    kangaroos                  102    data/merged/images/by-brands/kangaroos
12        karhu                  178        data/merged/images/by-brands/karhu
15  new balance                  184  data/merged/images/by-brands/new balance
16         nike                 1527         data/merged/images/by-brands/nike
17         puma                  608         data/merged/images/by-brands/puma
18       reebok                  370       data/merged/images/by-brands/reebok
21      saucony                  193      data/merged/images/by-brands/saucony
26         vans                  122         data/merged/images/by-brands/vans

In [4]:
processor = StorageProcessor(LocalStorage())

imgs = brands_dataset[brands_dataset["unique_images_count"] > 100]["images"].to_list()
brands = brands_dataset[brands_dataset["unique_images_count"] > 100]["brand_merge"].to_list()
for image_folder, brand in zip(imgs, brands):
    processor.images_to_directory([image_folder], f"data/training/freq-brands/{brand}")

In [5]:
brands_dataset.loc[brands_dataset["unique_images_count"].idxmax()]

brand_merge                                         nike
unique_images_count                                 1527
images                 data/merged/images/by-brands/nike
Name: 16, dtype: object

In [5]:
images_dataset = ImageFolder("data/training/freq-brands")
images_dataset

Dataset ImageFolder
    Number of datapoints: 5309
    Root location: data/training/freq-brands

In [6]:
train_dataset, val_dataset = random_split(images_dataset, [0.8, 0.2])

In [9]:
for image in images_dataset:
    print(image)
    break

(<PIL.Image.Image image mode=RGB size=2000x2000 at 0x7F778F2891C0>, 0)

In [7]:
train_targets = [sample[1] for sample in train_dataset]
most_popular_predict = [images_dataset.class_to_idx["nike"]] * len(train_targets)
accuracy_score(train_targets, most_popular_predict)

0.2855461393596987

In [8]:
val_targets = [sample[1] for sample in val_dataset]
most_popular_predict = [images_dataset.class_to_idx["nike"]] * len(val_targets)
accuracy_score(val_targets, most_popular_predict)

0.29594721960414705