## Мержер дубликатов

In [ ]:
# for PyCharm
import os

import pandas as pd

current_directory = os.getcwd()
project_directory = os.path.abspath(os.path.join(current_directory, os.pardir, os.pardir))
os.chdir(project_directory)

In [ ]:
def resolve_same_brands(brands_data: pd.DataFrame):
    def merge_if_naming_match(lhs: str, pop_brands: set[str]):
        lhs_lower = lhs.lower().split()[0]
        for b in pop_brands:
            if b.lower() == lhs_lower:
                return b
        return lhs

    brands = brands_data.value_counts()
    pop_brands = list(brands[: len(brands) // 2].keys())  # set of all unique brands
    return brands_data.apply(lambda brand: merge_if_naming_match(brand, pop_brands))

In [ ]:
# superkicks
data = pd.read_csv("data/raw/metadata/kickscrew.csv")
data["brand"].value_counts()

brand
Nike                      1691
Air Jordan                 787
adidas                     645
Converse                   341
Onitsuka Tiger             312
Asics                      273
New Balance                269
Vans                       159
Li-Ning                    147
Puma                        87
Under Armour                44
ANTA                        20
Reebok                      19
UGG                         14
Mizuno                      12
Skechers                    11
SALOMON                     11
HOKA ONE ONE                 9
Crocs                        8
GUCCI                        6
OFF-WHITE                    4
CASIO                        4
DIOR                         3
Fear of God Essentials       3
On Running                   3
Dr. Martens                  3
Alexander McQueen            2
361 Degrees                  2
Balenciaga                   2
Maison MIHARA YASUHIRO       2
Mitchell & Ness              1
THE NORTH FACE               1
Palm Angels                  1
FILA                         1
Rigorer                      1
PRADA                        1
Fendi                        1
Name: count, dtype: int64

In [ ]:
# highsnobiety

data = pd.read_csv("data/raw/metadata/highsnobiety.csv")
data["brand"].value_counts()

brand
New Balance                       128
Converse                           49
Adidas                             38
Vans                               31
asics                              29
                                 ...
Converse x Fragment                 1
Saucony x Colour Plus Companie      1
Adidas x Bad Bunny                  1
Sean Wotherspoon x Adidas           1
Puma x P.A.M.                       1
Name: count, Length: 72, dtype: int64

In [ ]:
patched = data["brand"].apply(lambda brand: brand[: len(brand.lower().split(" x ")[0])])
# get diff between data['brand'] and patched:
patched.value_counts()

brand
New Balance             129
Converse                 65
Adidas                   43
asics                    32
Vans                     31
Salomon                  30
Reebok                   30
Puma                     27
On                       25
Saucony                  23
Mizuno                   15
Merrell                  15
VEJA                     15
Moncler                  14
HOKA                     14
ROA                      12
Norda                    12
CAMPERLAB                 8
Maison Margiela           8
Stone Island              6
Keen                      6
Raf Simons                6
Stepney Workers Club      4
Trussardi                 4
Athletics Footwear        4
Y-3                       3
Last Resort AB            2
Diesel                    2
RANRA                     2
BAPE                      2
Acne Studios              2
adidas Terrex             1
Our Legacy                1
Patta                     1
Sean Wotherspoon          1
Kenzo                     1
Reebok LTD                1
Soulland                  1
Name: count, dtype: int64

In [ ]:
# apply collab patch:
data["brand"] = patched
len(data["brand"].value_counts())

38

In [ ]:
patched = resolve_same_brands(data["brand"])
patched.value_counts()

brand
New Balance             129
Converse                 65
Adidas                   44
asics                    32
Vans                     31
Reebok                   31
Salomon                  30
Puma                     27
On                       25
Saucony                  23
Merrell                  15
VEJA                     15
Mizuno                   15
Moncler                  14
HOKA                     14
Norda                    12
ROA                      12
CAMPERLAB                 8
Maison Margiela           8
Stone Island              6
Keen                      6
Raf Simons                6
Stepney Workers Club      4
Trussardi                 4
Athletics Footwear        4
Y-3                       3
Last Resort AB            2
Diesel                    2
RANRA                     2
BAPE                      2
Acne Studios              2
Our Legacy                1
Patta                     1
Kenzo                     1
Sean Wotherspoon          1
Soulland                  1
Name: count, dtype: int64

In [ ]:
# apply collab patch:
data["brand"] = patched
print(len(data["brand"].value_counts()))
data.to_csv("data/raw/metadata/highsnobiety.csv", index=False)

36

In [ ]:
# sneakerbaas

data = pd.read_csv("data/raw/metadata/sneakerbaas.csv")
data["brand"].value_counts()

brand
Karhu                   149
Nike                    134
PUMA Sportstyle          79
New Balance              67
Puma Sportstyle          65
adidas Originals         53
Saucony                  49
Reebok Classics          48
Vans                     41
Hi-Tec                   38
Autry                    36
KangaROOS                32
Veja                     29
Salomon                  28
Mizuno                   24
Diadora                  18
Clarks                   17
Asics                    16
Stepney Workers Club     15
Sergio Tacchini          11
Etonic                    9
Adidas Originals          7
ETONIC                    6
Kangaroos                 5
Nike Skateboarding        4
Saucony Originals         4
Merrell                   3
Converse                  2
Jordan                    2
Hi-tec                    2
Warrior                   2
nike                      1
New balance               1
VANS                      1
adidas originals          1
Name: count, dtype: int64

In [ ]:
# footshop

data = pd.read_csv("data/raw/metadata/footshop.csv")
data["brand"].value_counts()

brand
adidas Originals          1071
Nike                       560
On                         488
Converse                   470
Puma                       458
Reebok                     407
New Balance                405
Vans Vault                 360
Vans                       279
Asics                      227
Y-3                        226
HOKA®                      149
KARHU                      143
adidas Performance         140
Birkenstock                129
Salomon Advanced           127
Dr. Martens                115
Veja                        93
Filling Pieces              80
UGG                         55
Crocs                       50
Under Armour                41
Saucony                     40
Timberland                  36
Mizuno                      35
RAF SIMONS                  31
Moon Boot                   29
KangaROOS                   25
RIPNDIP                     20
The North Face              15
Columbia                    14
HERON PRESTON               13
Comme des Garçons PLAY      11
Levi's®                     11
PLEASURES                    9
Camper                       7
Tommy Hilfiger               5
A-COLD-WALL*                 5
McQ                          5
Helly Hansen                 5
Jordan                       5
Ellesse                      5
Footshop                     5
Ambush                       4
Diesel                       4
Just Don                     2
Ralph Lauren                 2
MISBHV                       2
LACOSTE                      2
Rick Owens DRKSHDW           1
MARKET                       1
Fjällräven                   1
Name: count, dtype: int64